<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DwellingDeal</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/custom.css">
    
    <!-- <script src="/js/removeItem.js"></script> -->
</head>

<body>
    <%- include('../partials/navbar') %>



    <!-- START - Products section -->
    <section class="mt-5">
        <div class="container">
            <div class="row">
            <% if(cart.length === 0){ %>
                <div class="col-12"></div>
            <% } else { %>
                <div class="col-5"></div>
            <% } %>    
            <div class="row">
                <% productsList.forEach(product =>{ %>
                    <div class="col-md-3">
                        <div class="card product-cards shadow-sm product-card" >
                            <img src="https://placehold.co/400" alt="Product">
                            <div class="card-body text-center">
                                <h4><%= product.title %></h5>
                                <h5>$<%= product.price %></h4>
                                <h6>Location: <%= product.location %></h6>
                                <p><%= product.description %></p>

                                <p>Product ID: <%= product._id %> </p>
                            </div>
                            <div class="card-footer">
                                <form method="post" action='/cart'>
                                    <input type="hidden" name='product_id' value="<%= product._id %>">
                                    <input type="hidden" name="product_name" value="<%= product.title %>">
                                    <input type="hidden" name="product_price" value="<%= product.price %>">
                                    <button class="btn btn-sm btn-outline-primary w-100" type="submit" value="Add to Cart"><i class="fa fa-cart-plus me-2"></i>
                                        Add to Cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                <%}) %>
            </div>
        </div>

                <% if(cart.length === 0) { %>

                <div class="col-3" id="cart"style="display: none">    
                <%}else {%>
                    <div class="col-5 flex-column justify-content-end" id="cart"style="display: block">
                <% } %>  
                    <div class="container" style="border: 2px solid #ccc; border-radius: 8px; padding: 15px;">
                            <div class="card">
                                <h2>Shopping Cart</h2>
                                <div class="card-body" style="max-width:fit-content; overflow-y: auto;">
                                    <table class="table">
                                        <tr>
                                            <th>Item Name</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Total Price</th>
                                            <th>Remove</th>
                                        </tr>
                                        <% if(cart.length > 0){ %>
                                        <%    let total = 0; %>
                                        <%  cart.forEach(item => { %>
                                            <tr>
                                                <td><%= item.product_name %></td>
                                                <td><%= item.quantity %></td>
                                                <td><%= item.product_price %></td>
                                                <td><%= parseFloat(item.quantity) * parseFloat(item.product_price) %></td>
                                                <td><button type="button" class="btn btn-danger btn-sm" onclick="removeItem('<%= item.product_id %>')">Remove</button></td>
                                            </tr>
                                        <% total += parseFloat(item.quantity) * parseFloat(item.product_price) %>
                                        <% }) %>
                                        <tr>
                                            <td colspan="3" align="right"><b>Total</b></td>
                                            <td><%= total %></td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <% } else{ %>
                                            <tr>
                                                <td colspan="5" align="center">No Item Found in Cart</td>
                                            </tr>
                                        <% } %>
        
                                    </table>
                                    <a href="/cart" class="btn btn-primary">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
                
                
                

            </div>
            

            <div class="d-flex justify-content-center mt-5">
                <nav aria-label="...">
                  <ul class="pagination">
                    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                      <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
                    </li>
                    <% for (let i = 1; i <= totalPages; i++) { %>
                      <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                      </li>
                    <% } %>
                    <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                      <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </section>
    <!-- END - Products section -->


    <%- include('../partials/footer') %>


    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="/js/search.js" defer></script>
    <script src="/js/cartFunctions.js"></script>

</body>

</html>